
/* ----------------------------------------------- Base Template */

*, *::before, *::after {
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    background-image: url(../images/bookshelves.png);
    background-repeat: repeat;
    background-color: #4cba6a;
    min-height: 100vh;
    flex-direction: column;
  }

h1,h2,h3,h4,h5,h6 {
    color: white;
}

main {
    flex: 1 0 auto;
  }   

.header-row {
    padding-top: 100px;
}

.logo {
    max-width: 80vw;
}

.fas {
    color: white;
}

.socials {
    color: white;
    margin-right: 10px;
    font-size: 2em;
}

.socials:hover{
    color: #9c094e;
    text-decoration: none;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

footer.page-footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ----------------------------------------------- Home Page */

.tagline {
    color: whitesmoke;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}


.input-field {
    background-color: #d5ffd4;
    border-radius: 20px;
    color: black;
}

#book_search{
    width: 0;
    line-height: 40px;
    transition: width 0.4s linear;
}

.input-field:hover > #book_search{
    width: 50vw;
    transition: width 0.4s linear;
}


.search {
    color: black;
    text-align: center;
}

.homepage-links {
    color: white;
    text-align: center;
}

.btn {
    border-radius: 20px;
}

/* ----------------------------------------------- Profile Page */

.card-panel {
    margin-top: 50px;
    border-radius: 20px;
}

.flashes {
    line-height: 2;
}

.member-info {
    text-align: center;
}

.reviews-card {
    border-radius: 10px;
    min-height: 300px;
}

/* ----------------------------------------------- Library Page */

.book-image {
    height: 100%;
}

.book-name {
    height: 100px;
    overflow: hidden;
}

.footer-note {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* ----------------------------------------------- Book Page */

.book-cover {
    height: 100%;
}

/* ----------------------------------------------- Members List Page */

.member-image {
    border-radius: 50%;
    width: 100%;
}

/* ----------------------------------------------- Media Queries */

@media (min-width: 602px) {
    .member-info {
        text-align: left;
    }
    .input-field:hover > #book_search{
    width: 30vw;
    transition: width 0.4s linear;
}
}
