
/* ----------------------------------------------- Base Template */

*, *::before, *::after {
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    background-image: url(../images/bookshelves.png);
    background-repeat: repeat;
    background-color: #4cba6a;
    min-height: 100vh;
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}

main {
    flex: 1 0 auto;
}   

.header-row {
    padding-top: 100px;
}

.logo {
    max-width: 60vw;
}

.btn {
    border-radius: 20px;
}

p.material-icons {
    margin: 10px;
}

/* filter used to convert white social media images to a close representation of the button colours */
/* Credit to Barrett Sonntag for the filter. Link in README */
.social-logo:hover {
    filter: invert(87%) sepia(91%) saturate(7478%) hue-rotate(325deg) brightness(96%) contrast(96%);
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

footer.page-footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-field>label {
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
}

textarea {
    border-style: none;
    padding: 10px;
}

textarea:active {
    vertical-align: middle;
}

/* ----------------------------------------------- Home Page */

.tagline {
    color: whitesmoke;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

.input-field {
    background-color: #d5ffd4;
    border-radius: 20px;
    color: black;
}

.homepage-links {
    color: white;
    text-align: center;
}

/* ----------------------------------------------- Profile Page */

.card-panel {
    margin-top: 50px;
    border-radius: 20px;
}

.flashes {
    line-height: 2;
}

.member-info {
    text-align: center;
}

.reviews-card {
    border-radius: 10px;
    height: 550px;
}

/* ----------------------------------------------- Lucky Dip Page */

.random-book-cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 300px;
}

/* ----------------------------------------------- What's Hot Page */

.review {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ----------------------------------------------- Library Page */

.book-image {
    max-width: 100%;
}

.book-name {
    height: 100px;
    overflow: hidden;
}

.footer-note {
    padding-top: 50px;
    padding-bottom: 50px;
}

.library-books {
    height: 650px;
}

/* Credit to Stack Overflow for truncated description . Link in README*/

.truncate-desc {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    padding-top: 10px;
}

.pagination li a {
    color: #ffffff;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}

.pagination li.active {
    background-color: #9c094e;
    border-radius: 50%;
}

[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after {
    border: 2px solid #ffffff;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #9c094e;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #9c094e;
}

/* ----------------------------------------------- Book Page */

.book-cover {
    height: 100%;
}

/* ----------------------------------------------- Members List Page */

.member-image {
    border-radius: 50%;
    width: 100%;
}

.member-card {
    min-height: 400px;
}

/* ----------------------------------------------- Media Queries */

@media (min-width: 400px) {
    .library-books {
        max-width: 70%;
        margin-left: 15%;
    }
    .book-image {
        max-height: 80%;
    }
}

@media (min-width: 602px) {
    .member-info {
        text-align: left;
    }
    .review {
        text-align: left;
    }
    .library-books {
        min-width: 100%;
        max-height: 550px;
        margin-left: 0;
    }
    .member-card {
        height: 550px;
    }
}

@media (min-width: 992px) {
    .library-books {
        max-height: 470px;
    }
}

@media (min-width: 1200px) {
    .library-books {
        max-height: 650px;
    }
    .member-card {
        height: 600px;
    }
}