{% extends "base.html" %}

{% block content %}

<!--Grabs relevant information from the MongoDB database and fills the page-->

<div class="row">
    <div class="col s12">
        <div class="card-panel green darken-3">
            <div class="row">
                    <a href="{{ url_for('library') }}" class="white-text pink darken-3 btn">Return to Library</a>
            </div>
            <hr>
            <div class="row">
                <div class="col s6 offset-s3 m4 l3">
                    <img class="activator book-image" src="{{ book.book_cover }}" href="{{ book.book_url }}">
                </div>
                <div class="col s12 m8 l9">
                    <h3 class="member-info">{{ book.book_name }}</h3>
                    <h4 class="member-info">By {{ book.book_author }}</h4>
                    <br>
                    <p class="white-text">{{ book.book_description }}</p>
                    <br>
                    <a href="{{ book.book_url }}" target="_blank" class="pink darken-3 waves-effect waves-light btn">Get a Copy</a>
                    <a href="{{ url_for ('addreview') }}" class="pink darken-3 waves-effect waves-light btn">Leave a Review</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <h4>Reviews</h4>
            </div>
            <div>  
                <div class="row">
                    {% for review in reviews %}
                        <div class="col s12 m6 l4">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">{{ review.username }}</span>
                                    <p>{{ review.book_review }}</p>
                                </div>
                                <div class="card-action">
                                    <p><i>{{ review.review_date }}</i></p>
                                    <p>{{ review.book_rating }} Stars</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>       
        </div>
    </div>
</div>

{% endblock %}