{% extends "base.html" %}

{% block content %}

<!--Grabs relevant information from the MongoDB database and fills the page-->

<div class="row">
    <div class="col s12">
        <div class="card-panel green darken-3">
            <div class="row">
                <div class="col s6 offset-s3 m4 l3">
                    <img class="activator book-image" src="{{ book.book_cover }}" href="{{ book.book_url }}">
                </div>
                <div class="col s12 m8 l9">
                    <h3 class="member-info">{{ book.book_name }}</h3>
                    <h4 class="member-info">By {{ book.book_author }}</h4>
                    <p class="white-text">{{ book.book_description }}</p>
                    <br>
                    <a href="{{ book.book_url }}" class="pink darken-3 waves-effect waves-light btn">Get a Copy</a>
                    <a href="#" class="pink darken-3 waves-effect waves-light btn">Leave a Review</a>
                </div>
            </div>
            <div class="row">
                <h4>Reviews</h4>
            </div>
            <div>
                {% for review in reviews %}
                <div class="row">
                    <p><strong>{{ username }}</strong></p>
                    <p><i>{{ review_date }}</i></p>
                    <p>{{ book_rating }}</p>
                    <br>
                    <p>{{ book_review }}</p>
                    <br>
                </div>
                {% endfor %}
            </div>       
        </div>
    </div>
</div>

{% endblock %}