{% extends "base.html" %}

{% block content %}

<div class="card-panel green darken-3">
    <div class="row">
        <h2 class="center-align tagline">Library</h2>
        <h5 class="center-align tagline">Have a browse and see if there's anything you'd like.</h5>
        <div class="row col s12 m10 offset-m1 center-align">
            <form action="{{ url_for('search') }}" method="POST" class="col s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col s10">
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query"><i class="material-icons">search</i> Search Books</label>
                    </div>
                    <div class="col s2">
                        <button type="submit" class="pink darken-3 waves-effect waves-light btn-floating"><p class="material-icons">search</p></button>
                        <a href="{{ url_for('library' )}}" class="pink darken-3 waves-effect waves-light btn-floating"><p class="material-icons">close</p></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- TO SORT THIS SO USER CAN SORT RESULTS BY NAME, AUTHOR OR GENRE -->
    <div class="row center-align">
        <form action="#">
            <p class="tagline">Sort By:
            <label>
                <input class="with-gap pink darken-3" name="group1" type="radio" checked/>
                <span class="tagline">Book</span>
            </label>
            <label>
                <input class="with-gap pink darken-3" name="group1" type="radio"/>
                <span class="tagline">Author</span>
            </label>
            <label>
                <input class="with-gap pink darken-3" name="group1" type="radio"/>
                <span class="tagline">Genre</span>
            </label>
            </p>
        </form>
    </div>
    <hr>
    <br>
        <div class="row center-align">
        {{ pagination.links }}
        {% for book in books %}
            <div class="col s12 m4 l3">
                <div class="card center-align sticky-action library-books">
                    <div class="card-image center-align waves-effect waves-block waves-light">
                        <img class="activator book-image" src="{{ book.book_cover }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 book-name">{{ book.book_name }}
                            <i class="material-icons right">more_vert</i></span>
                        <p class="center-align">
                            <a href="{{ url_for('book', book_id=book._id)}}" class="pink darken-3 btn">Read More</a>
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ book.book_name }}
                            <i class="material-icons right">close</i></span>
                        <p class="truncate-desc">{{ book.book_description }}</p>
                        <p class="center-align">
                            <a href="{{ url_for('book', book_id=book._id)}}" class="pink darken-3 btn">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="center-align">
            {{ pagination.links }}
        </div>
    <div class="row center-align footer-note">
        <h5 class="center-align tagline">Can't find the right book? Why not add it yourself?</h5>
        <br>
        <a href="{{ url_for ('add_book') }}" class="center-align pink darken-3 btn">Add a Book</a>
    </div>
</div>
<br>

{% endblock %}