{% extends "base.html" %}

{% block content %}

<!--Shows a list of all members-->
    <div class="card-panel green darken-3">
        <h2 class="center-align tagline">Members</h2>
            <h5 class="center-align tagline">Discover members of GoBooks and view their profiles!</h5>
            <br>
        <div class="center-align">
            {{ pagination.links }}
        </div>
        <div class="row">
        <!--iterates through a list of all active members-->
            {% for member in members %}
                <div class="col s12 m6 l4">
                    <div class="card member-card">
                        <div class="card-image">
                            {% if member.member_image %}
                                <img class="activator member-image" src="{{ member.member_image }}" alt="Profile Image">
                            {% else %}
                                <img class="activator member-image" src="{{ url_for('static', filename='images/template-user.png') }}" alt="Profile Image">
                            {% endif %}
                        </div>
                        <div class="card-content center-align">
                            <span class="card-title">{{ member.username }}</span>
                            {% if member.is_admin == True %}
                                <p><i class="material-icons">brightness_auto</i> GoBooks Admin</p>
                            {% endif %}
                        </div>
                        <div class="card-action center-align">
                            <a href="{{ url_for('view_member', username=member._id)}}" class="pink darken-3 btn">View Profile</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="center-align">
            {{ pagination.links }}
        </div>
    </div>

{% endblock %}