{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card-panel green darken-3">
            <div class="row">
                <div class="col s11">
                    <a href="{{ url_for('edit_profile', user_id=username._id) }}" class="right white-text pink darken-3 btn">Edit Profile</a>
                </div>
            </div>
            <div class="row"> 
                <hr>
                <div class="col s6 m3">
                    <div class="card-image center-align">
                        <!--Checks if user has added an image url to their profile and returns a template image if not-->
                        {% if username.member_image %}
                            <img class="member-image" src="{{ username.member_image }}" alt="Profile Image">
                        {% else %}
                            <img class="member-image" src="{{ url_for('static', filename='images/template-user.png') }}" alt="Profile Image">
                        {% endif %}
                    </div>
                </div>
                <!--Shows the profile member's information-->
                <div class="col s12 m9">
                    <h3 class="member-info"> {{ username.username|capitalize }}'s Profile</h3>
                    <h5 class="member-info">Member Since: {{ username.register_date }}</h5>
                    <h5 class="member-info">Member Rating: {{ username.member_level }}</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <h4>Books Reviewed</h4>
            </div>
            <div class="row">
                <!--iterates through user reviews and returns reviews posted by the profile member-->
                {% for review in user_reviews %}
                    <div class="col s8 offset-s2 m4 l3">
                        <div class="card reviews-card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ review.book_cover }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    <b>{{ review.book_rating }} Stars.</b>
                                    <i class="material-icons right">unfold_more</i>
                                </span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><p>{{ review.book_name }}</p>
                                    <i class="material-icons right">unfold_less</i>
                                </span>
                                <p>
                                    {{ review.book_review }} 
                                    <br>
                                    <b>{{ review.book_rating }} Stars.</b>
                                    <br>
                                    <i>{{ review.review_date }}</i>
                                </p>
                                    <a href="{{ review.book_url }}" class="pink darken-3 btn">Buy</a>
                                <!--if the session user is the profile owner, they can delete or edit their reviews-->
                                {% if session.user|lower == review.username|lower %}
                                    <a href="#" class="pink darken-3 waves-effect waves-light btn">Edit</a>
                                    <a href="#" class="pink darken-3 waves-effect waves-light btn">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}