{% extends "base.html" %}

{% block content %}

<!--User can create a profile by completing the form-->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel green darken-3">
                <h3 class="center-align">Register</h3>
                <h5 class="center-align">Please fill out the following questions to sign up</h5>
                <br>
            <!--Name-->
                <div class="row">
                    <div class="input-field col s4 offset-s1">
                        <input id="first_name" name="first_name" type="text" pattern="^[a-zA-Z]{2,20}$" class="validate"
                        oninvalid="this.setCustomValidity('Enter first name. Only alphabetic characters are accepted')"
                        oninput="this.setCustomValidity('')" minlength="2" maxlength="20" required>
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s4 offset-s2">
                        <input id="last_name" name="last_name" type="text" pattern="^[a-zA-Z]{2,30}$" class="validate"
                        oninvalid="this.setCustomValidity('Enter last name. Only alphabetic characters are accepted')"
                        oninput="this.setCustomValidity('')" minlength="2" maxlength="30" required>
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
            <!--Username-->
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{5,15}$" class="validate"
                        oninvalid="this.setCustomValidity('Please enter a username between 5 and 15 characters. Only alphanumeric characters are accepted')"
                        oninput="this.setCustomValidity('')" minlength="5" maxlength="15" required>
                        <label for="username">Username</label>
                    </div>
                </div>
            <!--Password-->
                <div class="row">
                    <div>
                        <div class="input-field col s10 offset-s1">
                            <input id="password" name="password" type="password" pattern="^[a-zA-Z0-9]{5,20}$" minlength="5" maxlength="20" class="validate"
                            oninvalid="this.setCustomValidity('Please enter a password between 5 and 20 characters. Only alphanumeric characters are accepted')"
                            oninput="this.setCustomValidity('')" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                </div>
            <!--User has the option to provide further information with optional questions-->
                <hr>
                <h5 class="center-align">The Following questions are optional</h5>
            <!--Reader Level-->
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <select id="member_level" name="member_level" class="validate">
                            <option value="" disabled selected>What kind of reader are you?</option>
                            <option value="Casual Reader">Casual Reader</option>
                            <option value="Sporadic Dabbler">Sporadic Dabbler</option>
                            <option value="Book Junkie">Book Junkie</option>
                        </select>
                    </div>
                </div>
            <!--Favourite Book-->
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="fav_book" name="fav_book" type="text" class="materialize-textarea" data-length="100" maxlength="100">
                        <label for="fav_book">What is your Favourite Book?<span><i>(Optional)</i></span></label>
                    </div>
                </div>
            <!--Member Image-->
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="member_image" name="member_image" type="text" class="validate count" pattern="(https?:\/\/.*(?:jpg|jpeg|gif|png))" data-length="400" maxlength="400">
                        <label for="member_image">Enter URL of your profile picture<span><i>(Optional)</i></span></label>
                        <span class="helper-text" data-error="wrong" data-success="right">URL must begin with http(s) and end with .jpg .jpeg .png or .gif</span>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s8 offset-s2 btn-large pink darken-3 waves-effect waves-light btn">
                        Register
                    </button>
                </div>
            </div>
        </form>
    <!--Link for users with profiles who clicked on register by accident-->
        <div class="col s12">
            <p class="center-align">
                Already Registered? 
                <a href="{{ url_for('login') }}" class="white-text pink darken-3 btn">Log In!</a>
            </p>
        </div>
    </div>

{% endblock %}